{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Redefinir senha</title>
  <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body class="auth-page">
  <!-- LOGO -->
  <div class="logo-container">
    <img src="{% static 'global/img/logo-unilife.png' %}" alt="Logo" class="logo-img">
  </div>
  <form method="post" class="card" action="">
    {% csrf_token %}
    <h1 class="title">Esqueceu sua senha?</h1>
    <p class="subtitle">Informe o e-mail da sua conta. Enviaremos um link para você redefinir a senha.</p>

    {% if form.non_field_errors %}
      <div class="error">
        {% for e in form.non_field_errors %}{{ e }}{% if not forloop.last %}<br>{% endif %}{% endfor %}
      </div>
    {% endif %}

    <label for="id_email">E-mail</label>
    <!-- Campo do form padrão do Django -->
    <input type="email" name="email" id="id_email" required class="input", placeholder="Insira seu email.">
    {% if form.email.errors %}
      <div class="error">{% for e in form.email.errors %}{{ e }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</div>
    {% endif %}

    <button class="btn btn-green" type="submit">Enviar link</button>

    <div class="footer" style="margin-top:10px;">
      <small><a class="link" href="{% url 'login' %}">Voltar ao login</a></small>
    </div>
  </form>
</body>
</html>
